# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
flask_session/

# Environment Variables
backend/.env
password.py

# IDEs
.vscode/
.idea/

# Uploads (Keep the folder, ignore the content)
static/uploads/*
!static/uploads/.gitkeep