html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Back Button */
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-decoration: none;
  z-index: 1001;
  border: 2px solid #333;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: all 0.3s ease;
}

.back-button a {
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.back-button:hover {
  background-color: #006341;
  border-color: #006341;
}

.back-button:hover a {
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.form-header {
  text-align: center;
  margin-bottom: 30px;
}

.t-and-c-icon {
  color: #7b1113;
  font-size: 50px;
  vertical-align: middle;
}

.title h1 {
  color: #006341;
}

.subtitle {
  font-size: 1.2em;
  color: #333;
  font-weight: 500;
}

.button-container {
  text-align: center;
  margin-top: 10px;
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between buttons */
  width: 100%; /* Full width of the container */
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.8s;
  width: 50%; /* Occupy half the space of the button container */
  box-sizing: border-box; /* Ensure padding is included in width */
  flex: 1; /* Ensure buttons are equal width */
  font-size: 1rem;
}

.tab-btn:hover {
  background: white;
  color: #7b1113;
  border-radius: 5px;
}

.tab-btn.active {
  background: white; /* highlight */
  color: #7b1113;
  border-radius: 5px;
}

.content-container {
  margin-top: 20px;
  background: #efefef;
  padding: 20px;
  border-radius: 10px;
  min-height: 300px; /* Ensure a minimum height for content area */
}

.content-container h3 {
  color: #7b1113;
  margin-bottom: 5px;
}

.quick-summary-content,
.full-t-and-c-notice {
  color: #333;
  margin-bottom: 5px;
  font-weight: 500;
}

.content-container ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 10px;
}

.notice-content {
  background-color: #d9e5ee;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.agreement {
  background: #7b1113;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.agreement input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
  cursor: pointer;
  accent-color: white; /* makes the checkmark white */
}

.agreement label {
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.submit-button {
  text-align: right;
}

.proceed-btn {
  background-color: #7b1113;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  justify-content: right;
  border-radius: 10px;
}

.proceed-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.proceed-btn:hover:enabled {
  background-color: white;
  color: #7b1113;
  border-radius: 10px;
  border: 1px solid #7b1113;
}

.general {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.specific {
  margin-left: 30px;
  margin-bottom: 10px;
}
