<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Applicant Management</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <!-- Styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='Assets/PESO_logo.png') }}"
            alt="PESO SmartHire Logo"
          />
        </div>
        <nav class="nav">
          <a href="{{url_for('admin.admin_home')}}" class="nav-link-active"
            >Home</a
          >
          <a href="#" class="nav-link">Applicants Management</a>
          <a href="#" class="nav-link">Employers Management</a>
          <a href="#" class="nav-link">Real-Time Information</a>
          <a href="{{url_for('admin.account_settings')}}" class="nav-link"
            >Account & Security</a
          >
          <a href="#" class="nav-link">Log Out</a>
        </nav>
      </div>
    </header>

    <section class="hero">
      <div class="hero-background">
        <img
          src="{{ url_for('static', filename='Assets/background.png') }}"
          alt="New City Hall of Lipa CIty"
        />
      </div>
      <div class="hero-content">
        <div class="container">
          <h1 class="hero-title">Welcome, Administrator!</h1>
          <!-- You can add the applicant's name here using python-->
          <p class="hero-description">Here’s what we have today</p>
        </div>
      </div>
    </section>

    <section class="analytics-dashboard">
      <div class="container">
        <h2>PESO SmartHire - Administrative Dashboard</h2>
        <p>
          Welcome to the administrative control center. Monitor system
          performance, manage user, and oversee operations.
        </p>
      </div>
    </section>

    <!-- Tab Navigation -->
    <div class="tab-group">
      <button class="active">All</button>
      <button>Applicant Approval</button>
      <button>Applicant Reported</button>
      <button>Employer Approval</button>
      <button>Employer Reported</button>
      <button>Applicant Outdated Docu</button>
      <button>Employer Outdated Docu</button>
    </div>

    <div class="card-list">
      <div class="card">
        <h3>Reported Applicant Account <span class="badge">NEW</span></h3>
        <p>2 subjected for verification</p>
        <small>10 minutes ago</small>
      </div>

      <div class="card">
        <h3>
          Employer Account Pending Approval <span class="badge">NEW</span>
        </h3>
        <p>2 subjected for approval</p>
        <small>15 minutes ago</small>
      </div>

      <div class="card">
        <h3>New Lipeno Applicants Batch</h3>
        <p>12 new registrations</p>
        <small>1 hour ago</small>
      </div>

      <div class="card">
        <h3>Non Lipeno Account Pending Approval</h3>
        <p>10 new registrations</p>
        <small>2 hours ago</small>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-left">
            <h3>PESO SmartHire</h3>
            <p>
              Connecting talent with opportunity through innovative recruitment
              solutions.
            </p>
            <a href="" class="footer-note">Terms and Conditions</a>
            <p class="copyright">© 2025 PESO SmartHire. All rights reserved.</p>
          </div>
          <div class="footer-right">
            <h3>Development Team</h3>
            <div class="team-member">
              <span>Anoya, Ruffa F.</span>
              <div class="social-links">
                <a href="https://github.com/anoyaruffa" target="_blank"
                  ><i class="devicon-github-plain"></i
                ></a>
                <a href="#"><i class="devicon-facebook-plain"></i></a>
                <a href="mailto: ruffaanoya2005@gmail.com" target="_blank"
                  ><i class="fa-solid fa-envelope"></i
                ></a>
              </div>
            </div>
            <div class="team-member">
              <span>Lavita, Reynmark A.</span>
              <div class="social-links">
                <a href="https://github.com/elliwinx" target="_blank"
                  ><i class="devicon-github-plain"></i
                ></a>
                <a
                  href="https://www.facebook.com/reymark.levita.3"
                  target="_blank"
                  ><i class="devicon-facebook-plain"></i
                ></a>
                <a href="mailto: levitareymark11@gmail.com" target="_blank"
                  ><i class="fa-solid fa-envelope"></i
                ></a>
              </div>
            </div>
            <div class="team-member">
              <span>Samonte, Ralph Matthew A.</span>
              <div class="social-links">
                <a href="https://github.com/RalphWreckeri2" target="_blank"
                  ><i class="devicon-github-plain"></i
                ></a>
                <a
                  href="https://www.facebook.com/ralphmatthew.13"
                  target="_blank"
                  ><i class="devicon-facebook-plain"></i
                ></a>
                <a href="mailto:ralphmatthew.samonte@gmail.com" target="_blank"
                  ><i class="fa-solid fa-envelope"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
