<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employer Registration</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='Assets/PESO_logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/registration.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="back-button">
      <a href="{{ url_for('employers.employers_terms') }}">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>

    <div class="container">
      <div class="form-header">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='Assets/PESO_logo.png') }}"
            alt="PESO SmartHire Logo"
          />
        </div>
        <div class="title">
          <h1>EMPLOYER ONLINE REGISTRATION</h1>
        </div>
      </div>
      <div class="form-proper">
        <form
          action="{{url_for('employers.register')}}"
          method="POST"
          enctype="multipart/form-data"
        >
          <!-- Basic Information -->
          <div class="three-columns">
            <div class="form-group">
              <label for="employerName">Company Name</label>
              <input
                type="text"
                id="employerName"
                name="employerName"
                placeholder="Company Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="employerIndustry">Industry</label>
              <select id="employerIndustry" name="employerIndustry" required>
                <option value="">Select Industry</option>
                <option value="Technology & IT">Technology & IT</option>
                <option value="Finance & Insurance">Finance & Insurance</option>
                <option value="Healthcare & Pharmaceuticals">
                  Healthcare & Pharmaceuticals
                </option>
                <option value="Education">Education</option>
                <option value="Manufacturing & Industry">
                  Manufacturing & Industry
                </option>
                <option value="Retail & E-commerce">Retail & E-commerce</option>
                <option value="Media & Entertainment">
                  Media & Entertainment
                </option>
                <option value="Real Estate & Construction">
                  Real Estate & Construction
                </option>
                <option value="Transportation & Logistics">
                  Transportation & Logistics
                </option>
                <option value="Energy & Utilities">Energy & Utilities</option>
                <option value="Government & Nonprofit">
                  Government & Nonprofit
                </option>
                <option value="Professional Services">
                  Professional Services
                </option>
                <option value="Hospitality, Food & Travel">
                  Hospitality, Food & Travel
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="employerRecruitment">Type of Recruitment</label>
              <select
                id="employerRecruitment"
                name="employerRecruitment"
                required
              >
                <option value="">Select Type</option>
                <option value="Local">Local</option>
                <option value="International">International</option>
              </select>
            </div>
          </div>

          <div class="three-columns">
            <div class="form-group">
              <label for="employerContactPerson">Contact Person</label>
              <input
                type="text"
                id="employerContactPerson"
                name="employerContactPerson"
                placeholder="Contact Person"
                required
              />
            </div>
            <div class="form-group">
              <label for="employerPhoneNumber">Phone Number</label>
              <input
                type="tel"
                id="employerPhoneNumber"
                name="employerPhoneNumber"
                placeholder="+63 912 345 6789"
                pattern="^\+63\d{10}$"
                value="+63"
                maxlength="13"
                required
              />
            </div>
            <div class="form-group">
              <label for="employerEmail">Email Address</label>
              <input
                type="email"
                id="employerEmail"
                name="employerEmail"
                placeholder="Email Address"
              />
            </div>
          </div>

          <!-- Address -->
          <div class="four-columns">
            <div class="form-group">
              <label for="employerProvince">Province</label>
              <select id="employerProvince" name="employerProvince" required>
                <option value="">Select Province</option>
              </select>
            </div>
            <div class="form-group">
              <label for="employerCity">Municipality/City</label>
              <select id="employerCity" name="employerCity" required disabled>
                <option value="">Select Province First</option>
              </select>
            </div>
            <div class="form-group">
              <label for="employerBarangay">Barangay</label>
              <select
                id="employerBarangay"
                name="employerBarangay"
                required
                disabled
              >
                <option value="">Select City First</option>
              </select>
            </div>
            <div class="form-group">
              <label for="employerStreet">Street</label>
              <input
                type="text"
                id="employerStreet"
                name="employerStreet"
                placeholder="Street"
              />
            </div>
          </div>

          <!-- File Uploads for Local Recruiters-->
          <div class="two-columns">
            <div class="form-group">
              <div class="file-upload">
                <label for="employerCompanyLogo" class="file-upload-label">
                  Upload Company Logo (png)
                </label>
                <input
                  type="file"
                  id="employerCompanyLogo"
                  name="employerCompanyLogo"
                  accept="image/png,image/jpeg"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <div class="file-upload">
                <label for="employerBusinessPermit" class="file-upload-label">
                  Upload Business Permit (pdf)
                </label>
                <input
                  type="file"
                  id="employerBusinessPermit"
                  name="employerBusinessPermit"
                  accept=".pdf"
                  required
                />
              </div>
            </div>
          </div>

          <div class="dole-group">
            <div class="two-columns">
              <div class="form-group">
                <div class="file-upload">
                  <label
                    for="employerDOLENoPendingCase"
                    class="file-upload-label"
                  >
                    Upload DOLE - No Pending Case Certificate (pdf)
                  </label>
                  <input
                    type="file"
                    id="employerDOLENoPendingCase"
                    name="employerDOLENoPendingCase"
                    accept="application/pdf"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="file-upload">
                  <label
                    for="employerDOLEAuthorityToRecruit"
                    class="file-upload-label"
                  >
                    Upload DOLE - Authority to Recruit (pdf)
                  </label>
                  <input
                    type="file"
                    id="employerDOLEAuthorityToRecruit"
                    name="employerDOLEAuthorityToRecruit"
                    accept="application/pdf"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="two-columns">
            <div class="form-group">
              <div class="file-upload">
                <label
                  for="employerPhiliobnetRegistration"
                  class="file-upload-label"
                >
                  Upload PhilJobNet Registration (pdf)
                </label>
                <input
                  type="file"
                  id="employerPhiliobnetRegistration"
                  name="employerPhiliobnetRegistration"
                  accept=".pdf"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <div class="file-upload">
                <label
                  for="employerJobOrdersOfClient"
                  class="file-upload-label"
                >
                  Upload Job Orders of Client/s (pdf)
                </label>
                <input
                  type="file"
                  id="employerJobOrdersOfClient"
                  name="employerJobOrdersOfClient"
                  accept=".pdf"
                  required
                />
              </div>
            </div>
          </div>

          <!-- INTERNATIONAL recruiter docs (DMW) -->
          <div class="dmw-group" style="display: none">
            <div class="two-columns">
              <div class="form-group">
                <div class="file-upload">
                  <label
                    for="employerDMWNoPendingCase"
                    class="file-upload-label"
                  >
                    Upload DMW - No Pending Case Certificate (pdf)
                  </label>
                  <input
                    type="file"
                    id="employerDMWNoPendingCase"
                    name="employerDMWNoPendingCase"
                    accept="application/pdf"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="file-upload">
                  <label
                    for="employerLicenseToRecruit"
                    class="file-upload-label"
                  >
                    Upload DMW - License to Recruit (pdf)
                  </label>
                  <input
                    type="file"
                    id="employerLicenseToRecruit"
                    name="employerLicenseToRecruit"
                    accept="application/pdf"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Important Reminder -->
          <div class="important-reminder">
            <h4>Important Reminder</h4>
            <div class="reminder-content" id="reminderEmployers">
              <p>
                Employers are subjected for approval to verify the legitimacy of
                the uploaded documents. Please be advised that you will receive
                an email containing your username and password. After
                successfully logging in, immediately change the password for
                security purposes.
              </p>
              <p>
                The submitted documents are only valid for a period of time.
                After that, you are required to reupload your documents with the
                updated one.
              </p>
              <p>
                In case of needing to reupload a document(s), you will still be
                given the proper credentials to access the Account & Security
                section where you will reupload your document(s).
              </p>
            </div>
          </div>

          <!-- Submit -->
          <div class="form-actions">
            <button class="employer-registration-submit-btn" type="submit">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>

    {% include 'partials/loader.html' %}
    <script src="{{ url_for('static', filename='js/landing_page.js') }}"></script>
  </body>
</html>
