<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forgot_password.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="back-button">
      <a href="{{ back_url }}">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>

    <div class="container">
          <div class="form-header">
            <div class="title">
              <h1>FORGOT PASSWORD</h1>
                <p class="subtitle">
                  Please make sure that the email you input is the same as the one
                  you used on this platform. A reset token will be sent to your
                  email shortly.
                </p>
            </div>
          </div> 
          <form id="forgotPasswordEmailForm" action="{{ url_for('forgot_password.forgot_password_request') }}" method="post">
            <div class="email-container">
              <input type="email" name="forgotPasswordEmail" placeholder="Email" required />
              <button class="email-submit" type="submit">
                <i class="fa-solid fa-envelope"></i>Send
              </button>
            </div>
          </form>
        </div>
    </div>
  </body>
</html>
